body{
    font-family: "Lora", serif;
    color:rgb(255, 255, 255);
    background-image: url("images/Sparkler-Background-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    width:100vw;
    height:100vh;
    overflow: hidden;
    background-position: center -700px; 

}

.icon-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width:15%;
    position:absolute;
    bottom: 0px;
    grid-gap: 20px;
}

.text-container{
    margin-top: 10px;
    margin-left: 80px;
}


  
  @media (max-width: 768px) { 
    body {
      background-position: center center; 
      color:rgb(255, 255, 255);
      background-image: url("images/Sparkler-Background-2.png");

    }

    .icon-container{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        width:80%;
        position:absolute;
        bottom: 0px;
        grid-gap: 20px;
    }
  }

  /* start of animation */
  